//Fonts
$hind: 'Hind', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;

//Colours
$blue: #3E5AA9;
$red: #ED2324;
$gray: #f8f8f8;

//Viewport min/max
$min-width: 300;
$max-width: 1600;