// Importing variables
@import "_vars";
@import "layout/navbar";
@import "components/sidebar";
@import "pages/hero";
@import "pages/units";

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: $hind;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 19px;
    font-weight: 400;
}

p { 
    font-size: 14px;
    font-family: $roboto;
}

a {
    font-family: $roboto;
    font-size: 18px;
}

section {
    min-height: 80vh;
    display: flex;
}