.thermo {
    background-color: $blue;
    
    .thermo-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        align-items: center;

        .text-box {
            width: 50%;

            h1 {
                padding: 0 10%;
                margin: 0;
                color: white;
                line-height: 1.5;
            }

            p {
                margin: 0;
                padding: 0 10%;
                color: white;
            }
        }
        .image-box {
            position: relative;
            height: 80vh;
            width: 50%;
            align-self: baseline;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 42vw;
                
            }
        }
    }
}

//Media Queries
@media screen and (max-width: 800px) {
    .thermo {
        margin-top: 50px;
    
        .thermo-grid {

            .text-box {
                width: 90%;
                height: inherit;
                margin: 0% 5%;
                

                h1 {
                    padding: 10px 0 0 0;
                    margin: 10px 0 0 0;
                    text-align: center;
                }

                p {
                    padding: 0;
                    text-align: center;
                }
            }
            .image-box {
                width: 90%;
                height: 70vh;
                margin: 5% 5%;
                background-position: center center;
            }
        }
    }
}